<h1>Dashboard#index</h1>
<% if user_signed_in? %>
  <%= button_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= button_to('Login', new_user_session_path)  %> 
<% end %>
<p>Find me in app/views/dashboard/index.html.erb</p>

