<h1>Editing Important Info Piece</h1>

<%= render 'form', important_info_piece: @important_info_piece %>

<%= link_to 'Show', @important_info_piece %> |
<%= link_to 'Back', important_info_pieces_path %>
